.aboutSection{
    width: 65%;
    margin: auto;
    height: 100vh;
}
.aboutSection .imageSection{
    display: none;
}
.aboutSection .abbouttext{
    width: 100%;
}
.abbouttext .smtxt{
    font-size: 1.2rem;
    letter-spacing: 0px;
    text-align: justify;
}
.abbouttext .smtxt .heading{
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bolder;
    letter-spacing: 2px;
    font-family: 'Tenor Sans';
    text-align: center;
}
.btext{
    border: solid 1px #000;
    padding: 0px 10px;
    border-radius: 100px;
    letter-spacing: 3px;
    font-weight: 900;
}
.abbouttext p{
    margin-bottom: 10px;
}
.abbouttext .mainbtn{
    margin-top: 0px;
}


.aboutSection .imageSection .gitLink{
    background-color: #fff;
    border-radius: 25px;
    border: solid 2px #000;
    padding: 5px 10px;
    color: #000;
}
.aboutSection .btnPara{
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.aboutSection .mainImg{
    width: 250px;
    height: 350px;
    border-radius: 30px;
    border: solid 2px #000;
    object-fit: cover;
}
.resHead{
    display: none;
}


@media screen and (max-width: 768px) {
    .aboutSection{
        flex-direction: column;
        align-items: center;    
        justify-content: center;
        gap: 30px;
        height: 80vh;
        width: 85%;
    }
    .aboutSection .abbouttext{
        width: 100%;
    }
    .abbouttext .smtxt{
        font-size: 1.1rem;
    }
    .aboutSection .btnPara{
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }
    .aboutSection .imageSection .mainImg{
        width: 100%;
        height: auto;
        box-shadow: none !important;
        border-radius: 40px;
    }
    .abbouttext .smtxt .heading{
        display: none;
    }
    .resHead{
        display: block;
        font-size: 1.5rem;
        font-weight: bolder;
        letter-spacing: 2px;
        font-family: 'Tenor Sans';
        text-align: left;
        width: 100%;
        border-bottom: solid 2px #cacaca;
        padding-bottom: 20px;
    }
}