@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

.icons {
    display: inline;
    vertical-align: middle;
}

.outerHomeCont {
    width: 100%;
}

.textSection {
    width: 75%;
    margin: auto;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
}

.textSection .smtxt {
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 15px;
}

.textSection .bgtxt {
    font-size: 4rem;
    letter-spacing: 2px;
    line-height: 1.1;
    text-align: center;
    font-family: 'Clash Display', sans-serif;
    font-weight: 600;
}

.bgtxt .txtunderline {
    font-family: 'Clash Display', sans-serif;
    position: relative;
}
.txtunderline svg{
    /* width: 100px; */
    position: absolute;
    left: 0;
    bottom: -15px;
}


.mainbtn {
    padding: 8px 20px;
    font-size: 1.2rem;
    border-radius: 100px;
    border: solid 2px #000;
    margin-top: 45px;
    color: #fff;
    transition: all 0.2s ease;
    cursor: pointer;
    background-color: #8424dd;
}

.mainbtn:active {
    transform: translateY(1px) scale(0.99);
}



@media screen and (max-width: 768px) {
    .textSection {
        width: 100%;
        margin-top: -3.5rem;
    }

    .textSection .bgtxt {
        font-size: 2.7rem;
        letter-spacing: 2px;
        line-height: 1.2;
        text-align: center;
    }
}