.container {
  width: 65px;
  height: 25px;
  border: solid 1px #000000;
  border-radius: 50px;
  position: relative;
  padding: 2px;
  transition: all 400ms ease-in-out;
  cursor: default;
}
.circle {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0px;
  border-radius: 100px;
  transition: all 400ms ease-in-out;
  border: solid 1px #000000;
  cursor: pointer;
}
