.workcontainer{
    width: 100%;
}
.workcontainer .mainheading{
  width: 85%;
  margin: auto;
  padding: 50px 0px 30px 0px;
  border-bottom: solid 1px #cacaca;
  display: flex;
  justify-content: space-between;
}
.myWork{
    width: 85%;
    margin: auto;
}
.myWork .subheading{
    font-size: 2rem;
    font-family: 'Clash Display', sans-serif;
    font-weight: bolder;
    padding-top: 20px;
}

.project-count{
    font-size: 1rem;
    font-weight: normal;
}