*{
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}
body, html{
  cursor: crosshair;
}

.custom-cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  border-radius: 100px;
  background-color: #000000;
  z-index: 100;
  mix-blend-mode:difference;
  background-color: #ffffff;
  pointer-events: none;
  transition: all 0.2s linear;
}

@media screen and (max-width: 460px) {
  .custom-cursor{
    display: none;
  }
}